
@{
    ViewBag.Title = "Index";
}

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Liên hệ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    
        <h3>Thông tin liên hệ</h3>
        <div>
            <p>Tên: 👶</p>
            <p>SDT: 0515615656</p>
            <p>Email: email@fake.com</p>
        </div>
    
    

    <!-- Contact Us -->

    <div class="row"></div>
</div>
